.card-width {
    width: 90%;
    max-width: 600px;
    min-width: 360px;
    margin: auto;
  }

.vote-arrow {
  cursor: pointer;
}

.vote-arrow-up:hover {
 color: #ff4500 !important;
}

.vote-arrow-down:hover {
  color: #7193ff !important;
 }

.comment-icon:hover {
  color: #a9a9a9 !important;
}

.article-image:hover {
  border: 1px solid #a9a9a9 !important;
}

.bin:hover {
  color: #9E2A2F !important;
}

